@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('../css/reset-css.css');
@import url('../component/Alert/alert.css');
@import url('../component/Badges/badge.css');
@import url('../component/Avatar/avatar.css');
@import url('../component/Buttons/button.css');

:root{
    --primary-color:#22c55e;
    --secondary-color:#bbf7d0;
    --primary-hover:#16a34a;
    --notification-color:#f97316;
    --offgreen:#f0fdf4;
    --darkerofseconadary:#86efac;
    --box-shadow:rgb(128, 128, 128);
    --alert-primary-color:#2563eb;
    --alert-success-color:rgb(13, 224, 31);
    --alert-error-color:rgb(231, 34, 34);
    --alert-warning-color:rgb(248, 203, 3);
    --white-color:rgb(255, 255, 255);
    --link:#3b82f6;
    --link-hover:#2563eb;
    --black:rgb(0, 0, 0);
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
