.content-header{
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 6.4rem;
    letter-spacing: 1px;
    color:var(--COLOR-BLACK);
    margin-bottom:1rem;
}
.md-text{
    font-weight: 600;
    line-height: 3.2rem;
    letter-spacing: 1px;
    color:var(--COLOR-SOCIAL-ICON);
    margin-bottom: 2.5rem;
}
.text-primary-color{
    color:var(--COLOR-PRIMARY);
    font-weight:bolder;
}
.section1{
    margin:0 3rem 2rem 3rem;
}
.component-display-container{
    background-color: var(--COLOR-WHITE);
    border:1.5px solid var(--PRIMARY-HOVER);
    border-radius:5px;
    margin-top: 2rem;
    padding:1.5rem;
    max-width: 82.5rem;
}
.flex-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}
.footer-link{
    text-decoration: none;
    font-size: 2rem;
    color:var(--COLOR-BLACK);
}
.footer-link:hover{
    color:var(--PRIMARY-HOVER);
}
