/* CSS for nav-bar */
.navigation{
    padding:2rem 1rem;
    box-shadow: 2px 0px 8px var(--BOX-SHADOW); 
}
.nav-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* position:fixed;
    width:100%;
    top:0;
    z-index:3;
    background-color:var(--BACKGROUND-BODY-COLOR); */
}
.iconify--icon-park-outline{
    color:var(--NOTIFICATION-COLOR);
}
.nav-pills{
    text-align: right;;
}
.nav-brand{
    font-weight: 700;
    font-size: 4rem;
}
.component-libraryl-link{
    text-decoration: none;
    color:var(--COLOR-PRIMARY);
}
.nav-bold-link{
    font-weight: 700;
    font-size: 1.7rem;
    color:var(--COLOR-SOCIAL-ICON);
}
.nav-bold-link:hover{
    cursor:pointer;
    color:var(--COLOR-PRIMARY);
}
.link{
    text-decoration: none;
    padding:2.5px 1rem;
}
.link:hover{
    cursor:pointer;
}
.list-non-bullet{
    list-style:none;
}
.list-item-inline{
    display:inline;
    padding:5px 5px;
}
.social-icons{
    font-size:2.6rem;
    color:var(--COLOR-SOCIAL-ICON);
}
.social-icons:hover{
    cursor:pointer;
    color:var(--COLOR-PRIMARY);
}
/* CSS for all headings and content alignment */
.content-container{
    display: flex;
    flex-direction: column;
    margin:4rem;
    /* max-height:90vh;
    overflow-y:scroll; */
}
/* CSS for sidebar */
.side-bar{
    height: 100%;
    width:24.8rem;
    overflow-x: hidden;
    padding-top: 2rem;
    margin-left:2rem;
    flex:0 0 auto;
    height:75vh;
    overflow-y:scroll;
    /* position: fixed;
    left:0;
    top:8.8rem;
    z-index:2; */
}
.sidebar-heading{
    padding:2rem 1rem 0rem 4rem; 
}
.sidebar-subheading{
    padding:1.5rem 1rem 1rem 4rem;
    text-decoration: none;
    font-size:2rem;
    font-weight: 500;
    display:block;
    color:var(--COLOR-SOCIAL-ICON);
    scroll-behavior: auto;
}
.sidebar-subheading:hover{
    cursor: pointer;
    text-decoration: underline;
}
.sidebar-link-active{
    color:var(--COLOR-PRIMARY);
}
/* CSS for main container */
.main-container{
    display:flex;
    width:100%;
}
