/* CSS for nav-bar */
.navigation{
    padding:2rem 1rem;
    box-shadow: 2px 0px 8px var(--BOX-SHADOW); 
    /* box-sizing: border-box; */ 
}
.nav-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* position:fixed;
    width:100%;
    top:0;
    z-index:3;
    background-color:var(--BACKGROUND-BODY-COLOR); */
}
.iconify--icon-park-outline{
    color:var(--NOTIFICATION-COLOR);
}
.nav-pills{
    text-align: right;;
}
.nav-brand{
    font-weight: 800;
    font-size: 4rem;
    color:var(--COLOR-PRIMARY);
    text-shadow: 0px 5px 5px var(--BOX-SHADOW);
}
.nav-bold-link{
    font-weight: 700;
    font-size: 1.7rem;
    color:var(--COLOR-SOCIAL-ICON);
}
.nav-bold-link:hover{
    cursor:pointer;
    color:var(--COLOR-PRIMARY);
}
.link{
    text-decoration: none;
    padding:2.5px 1rem;
}
.link:hover{
    cursor:pointer;
}
.list-non-bullet{
    list-style:none;
}
.list-item-inline{
    display:inline;
    padding:5px 5px;
}
.social-icons{
    font-size:2.6rem;
    color:var(--COLOR-SOCIAL-ICON);
}
.social-icons:hover{
    cursor:pointer;
    color:var(--COLOR-PRIMARY);
}
/* CSS for all headings and content alignment */
.header{
    margin:2rem 2rem;
}
.content-container{
    display: flex;
    flex-direction: column;
    /* display: block; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin:5rem 5rem 5rem 30rem; */
}
.content-wrapper{
    margin:4rem;
    /* width:100%; */
}
/* CSS for sidebar */
.side-bar{
    height: 100%;
    width:24.8rem;
    overflow-x: hidden;
    padding-top: 2rem;
    margin-left:2rem;
    /* border-right: 1px solid var(--COLOR-SOCIAL-ICON); */
    /* position: fixed;
    left:0;
    top:8.8rem; */
}
.sidebar-heading{
    padding:2rem 1rem 0rem 4rem; 
}
.sidebar-subheading{
    padding:2rem 1rem 1rem 4rem;
    text-decoration: none;
    font-size:2rem;
    font-weight: bold;
    display:block;
    color:var(--COLOR-SOCIAL-ICON);
    scroll-behavior: auto;
}
.sidebar-subheading:hover{
    cursor: pointer;
    text-decoration: underline;
}
.sidebar-link-active{
    color:var(--COLOR-PRIMARY);
}
/* CSS for main container */
.main-container{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    /* margin-left:30rem;
    margin-top: 12rem; */
}
