.flex-items{
    display:flex;
    align-items: center;
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.flex{
    display:flex;
}
.s-pd{
    padding:1.5rem;
}
.txt-center{
    text-align: center;
}
.mrgn-botm-md{
    margin-bottom: 1rem;
}
.margin-lg{
    margin:5rem;
}