.responsive-image img{
    width:100%;
    height:auto;
    max-width:70vw ;
    object-fit: cover;
}
.square-image img{
    width:100%;
    max-width:30rem;
    height:30rem;
    object-fit: cover;
    border-radius: 1rem;
}
.round-image img{
    border-radius: 50%;
}