<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image-UI</title>
    <link rel="icon" type="image/x-icon" href="../../Assets/favicon/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/components.css">
</head>
<body>
    <nav class="navigation nav-container">
        <div class="nav-brand"><img src="../../Assets/favicon/umbrella-32.png" alt="logo">
            <a class="component-libraryl-link" href="../../index.html">Umbrella UI</a></div> 
       <ul class="list-non-bullets nav-pills">
           <li class="list-item-inline">
               <a class="link nav-bold-link" href="../../index.html">Home</a> 
           </li>
           <li class="list-item-inline">
               <a class="link nav-bold-link" href="#">Documentation</a> 
           </li>
            <li class="list-item-inline">
               <a class="link" href="https://github.com/srishtigautam21">
                   <i class="fa fa-github social-icons"></i></a>
            </li>
            <li class="list-item-inline" >
                <a class="link" href="https://www.linkedin.com/in/srishti-gautam-385861190/">
                    <i class="fa fa-linkedin-square social-icons"></i></a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="https://twitter.com/SrishtiGautam99">
                    <i class="fa fa-twitter social-icons"></i></a>
            </li>
        </ul>
    </nav>
    <main class="main-container">
        <div class="side-bar">
            <h2 class="sidebar-heading">Getting Started</h2>
        <a class="sidebar-subheading" href="../../docs.html">Installation</a>
        <h2 class="sidebar-heading">Components</h2>
            <a class="sidebar-subheading" href="/component/Buttons/button.html">Buttons</a>
            <a class="sidebar-subheading" href="/component/Badges/badge.html">Badges</a>
            <a class="sidebar-subheading" href="/component/Alert/alert.html">Alert</a>
            <a class="sidebar-subheading" href="/component/Avatar/avatar.html">Avatar</a>
            <a class="sidebar-subheading" href="/component/Cards/card.html">Cards</a>
            <a class="sidebar-subheading sidebar-link-active" href="/component/Image/image.html">Images</a>
            <a class="sidebar-subheading" href="/component/Input/input.html">Input</a>
            <a class="sidebar-subheading" href="/component/Navigation/navigation.html">Navigation</a>
            <a class="sidebar-subheading" href="/component/Rating/rating.html">Rating</a>
            <a class="sidebar-subheading" href="/component/Toast/toast.html">Toast</a>
        </div>
        <section class="content-container">
            <div class="section1">
                <div class="content-header">Images</div>
                <p class="md-text">Image can be used to display large picture on the website.</p>
                <h2>Responsive Image</h2>
                <div class="component-display-container">
                    <div class="responsive-image">
                        <img src="../../Assets/Images/lanscape.jpg" alt="responsive-img"> 
                    </div>
                </div>
                <div class="code-snippet-container">
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28249%2C250%2C251%2C1%29&t=one-dark&wt=boxy&l=htmlmixed&width=822&ds=false&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=28px&ph=14px&ln=false&fl=1&fm=Hack&fs=14px&lh=138%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253C%21--Just%2520add%2520the%2520class%2520responsive-image--%253E%2520%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522responsive-image%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522..%252F..%252FAssets%252FImages%252Flanscape.jpg%2522%2520alt%253D%2522responsive-img%2522%253E%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E%250A"
                    style="width: 822px; height: 200px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                <h2>Square Image</h2>
                <div class="component-display-container">
                    <div class="square-image">
                        <img src="../../Assets/Images/treeLandscape.jpg" alt="square-img">
                    </div>
                </div>
                <div class="code-snippet-container">
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28249%2C250%2C251%2C1%29&t=one-dark&wt=boxy&l=htmlmixed&width=822&ds=false&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=28px&ph=14px&ln=false&fl=1&fm=Hack&fs=14px&lh=138%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522square-image%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522..%252F..%252FAssets%252FImages%252FtreeLandscape.jpg%2522%2520alt%253D%2522square-img%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                    style="width: 822px; height: 160px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
                <h2>Round Image</h2>
                <div class="component-display-container">
                    <div class="square-image round-image">
                        <img src="../../Assets/Images/treeLandscape.jpg" >
                    </div>
                </div>
                <div class="code-snippet-container">
                    <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28249%2C250%2C251%2C1%29&t=one-dark&wt=boxy&l=htmlmixed&width=822&ds=false&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=28px&ph=14px&ln=false&fl=1&fm=Hack&fs=14px&lh=138%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522square-image%2520round-image%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522..%252F..%252FAssets%252FImages%252FtreeLandscape.jpg%2522%2520%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                    style="width: 822px; height: 160px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe> 
                </div>
                <footer class="flex-footer">
                    <a class="footer-link" href="/component/Cards/card.html"><i class="fa fa-hand-o-left"></i>Cards</a>
                    <a class="footer-link" href="/component/Input/input.html">Input<i class="fa fa-hand-o-right"></a></i>
                </footer>
            </div>

        </section>
    </main>