<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image-UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/components.css">
</head>
<body>
    <nav class="navigation nav-container">
        <div class="nav-brand"><img src="../../Assets/Images/logo.svg" alt="logo">
             Umbrella UI</div> 
       <ul class="list-non-bullets nav-pills">
           <li class="list-item-inline">
               <a class="link nav-bold-link" href="index.html">Home</a> 
           </li>
           <li class="list-item-inline">
               <a class="link nav-bold-link" href="#">Documentation</a> 
           </li>
            <li class="list-item-inline">
               <a class="link" href="https://github.com/srishtigautam21">
                   <i class="fa fa-github social-icons"></i></a>
            </li>
            <li class="list-item-inline" >
                <a class="link" href="https://www.linkedin.com/in/srishti-gautam-385861190/">
                    <i class="fa fa-linkedin-square social-icons"></i></a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="https://twitter.com/SrishtiGautam99">
                    <i class="fa fa-twitter social-icons"></i></a>
            </li>
        </ul>
    </nav>
    <main class="main-container">
        <div class="side-bar">
            <h2 class="sidebar-heading">Getting Started</h2>
        <a class="sidebar-subheading" href="../../docs.html">Installation</a>
        <h2 class="sidebar-heading">Components</h2>
            <a class="sidebar-subheading" href="/component/Buttons/button.html">Buttons</a>
            <a class="sidebar-subheading" href="/component/Badges/badge.html">Badges</a>
            <a class="sidebar-subheading" href="/component/Alert/alert.html">Alert</a>
            <a class="sidebar-subheading" href="/component/Avatar/avatar.html">Avatar</a>
            <a class="sidebar-subheading" href="/component/Cards/card.html">Cards</a>
            <a class="sidebar-subheading sidebar-link-active" href="/component/Image/image.html">Images</a>
            <a class="sidebar-subheading" href="/component/Input/input.html">Input</a>
        </div>
        <section class="content-container content-wrapper">
            <div class="image-container">
                <h2>Responsive Image</h2>
                <div class="responsive-image">
                    <img src="../../Assets/Images/lanscape.jpg"> 
                </div>
                <h2>Square Image</h2>
                <div class="square-image">
                    <img src="../../Assets/Images/treeLandscape.jpg" >
                </div>
                <h2>Round Image</h2>
                <div class="square-image round-image">
                    <img src="../../Assets/Images/treeLandscape.jpg" >
                </div>
            </div>

        </section>
    </main>