<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert-UI</title>
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="main-container">
        <div class="alert primary-alert">
            <p><strong>Primary!  </strong>This is a Primary Alert - Check it now!</p></div>
        <div class="alert success-alert"><p><i class="fa fa-check-square-o" style="font-size:20px;color:white"></i>
           <strong>Success!  </strong>This is a Success Alert - Check it now!</p></div>
        <div class="alert error-alert"><p><i class="fa fa-exclamation-circle" style="font-size:20px;color:white"></i></i>
            <strong>Error!  </strong>This is a Error Alert - Check it now!</p></div>
        <div class="alert warning-alert"><p><i class="fa fa-exclamation-triangle" style="font-size:20px;color:white"></i>
            <strong>Warning!  </strong>This is a warning Alert - Check it now!</p></div>
    </section>
    
</body>
</html>