/* .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.alert{
    color:var(--COLOR-WHITE);
    padding: 1.5rem 0rem 1.5rem 1.5rem;
    border-radius: 5px;
    max-width:45vw;
    width:100%;
    margin:2rem 2rem;
}
.fontawesome-color-size{
    font-size:2rem;
    color:var(--COLOR-WHITE);
}
.primary-alert{
    background-color: var(--ALERT-PRIMARY-COLOR);
}
.success-alert{
    background-color:var(--ALERT-SUCCESS-COLOR) ;
}
.error-alert{
    background-color:var(--ALERT-ERROR-COLOR) ;
}
.warning-alert{
    background-color:var(--ALERT-WARNING-COLOR);
}