<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert-UI</title>
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navigation nav-container">
        <div class="nav-brand"><img src="../../Assets/Images/logo.svg" alt="logo">
             Star UI</div> 
       <ul class="list-non-bullets nav-pills">
           <li class="list-item-inline">
               <a class="link nav-bold-link" href="index.html">Home</a> 
           </li>
           <li class="list-item-inline">
               <a class="link nav-bold-link" href="#">Documentation</a> 
           </li>
            <li class="list-item-inline">
               <a class="link" href="https://github.com/srishtigautam21">
                   <i class="fa fa-github social-icons"></i></a>
            </li>
            <li class="list-item-inline" >
                <a class="link" href="https://www.linkedin.com/in/srishti-gautam-385861190/">
                    <i class="fa fa-linkedin-square social-icons"></i></a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="https://twitter.com/SrishtiGautam99">
                    <i class="fa fa-twitter social-icons"></i></a>
            </li>
        </ul>
    </nav>
    <main class="main-container">
        <div class="side-bar">
            <h2 class="sidebar-heading">Components</h2>
            <a class="sidebar-subheading" href="../../docs.html">Buttons</a>
            <a class="sidebar-subheading" href="/component/Badges/badge.html">Badges</a>
            <a class="sidebar-subheading sidebar-link-active" href="/component/Alert/alert.html">Alert</a>
            <a class="sidebar-subheading" href="/component/Avatar/avatar.html">Avatar</a>
            <a class="sidebar-subheading" href="/component/Cards/card.html">Cards</a>
            <a class="sidebar-subheading" href="#">Images</a>
            <a class="sidebar-subheading" href="#">Input</a>
        </div>
        <section class="content-container">
            <div class="alert primary-alert">
                <p><strong>Primary!  </strong>This is a Primary Alert - Check it now!</p></div>
            <div class="alert success-alert"><p><i class="fa fa-check-square-o fontawesome-color-size"></i>
               <strong>Success!  </strong>This is a Success Alert - Check it now!</p></div>
            <div class="alert error-alert"><p><i class="fa fa-exclamation-circle fontawesome-color-size"></i>
                <strong>Error!  </strong>This is a Error Alert - Check it now!</p></div>
            <div class="alert warning-alert"><p><i class="fa fa-exclamation-triangle fontawesome-color-size"></i>
                <strong>Warning!  </strong>This is a warning Alert - Check it now!</p></div>
        </section>
    </main>
    
    
</body>
</html>