.text-area-container{
    max-width:40rem ;
    height:22rem;
    border:0;
    padding:1.5rem 0 0 2.5rem;
    background-color: var(--BOX-SHADOW-LIGHTER);
    border-radius: 1rem;
}
.textarea-text{
    width:35rem;
    height:15rem;
    padding:1rem 0 0 8px;
    border-radius:5px;
    border:0;
}
.form-textarea-btn{
    width:7rem;
    height:3rem;
    border-radius: 2rem;
    margin:1rem 1rem 1rem 28rem;
}
.input-form{
    display:flex;
    flex-direction: column;
    width:40rem ;
    height:22rem;
    border:0;
    padding:1.5rem 1rem 0 2rem;
    background-color: var(--BOX-SHADOW-LIGHTER);
    border-radius: 1rem;
}
.label-font-size{
    font-weight:500;
}
.form-input-box{
    margin:1rem 1rem 1rem 0;
    height:3rem;
    border:1px solid var(--BOX-SHADOW);
    padding-left: 3px;
}
.form-btn{
    width:10rem;
    margin:1rem 12rem 1rem 12rem;
}