
.parent-positioning img{
    width:100%;
    height:21rem;
    object-fit:cover;
}
.vertical-cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
}   
.card-container{
    display:flex;
    flex-wrap:wrap;
    max-width:30rem;
    margin:0 auto;
    margin-top:6rem;
    background-color:var(--COLOR-WHITE);
    box-shadow: 0px 3px 10px lightgray ;
}
.inside-container{
    padding:8px 10px 3px 10px;
    line-height: 2.5rem;
}
.card-content{
    font-size: 1.6rem;
    margin-top:1.5rem;
}
.card-button{
    margin: 2rem 2rem 1rem 0;
}
.icon-size{
    font-size: 2rem;
}
.parent-positioning{
    position: relative;
}
.icon-overlay{
    position: absolute;
    top:1rem;
    right:5px;
    background-color: var(--COLOR-WHITE);
    height:2.5rem;
    width:2.7rem;
    border-radius: 50%;
    padding:3px 0 0 3.5px;
}
.icon-overlay:hover{
    cursor: pointer;
    color:var(--ALERT-ERROR-COLOR);
}
.card-item-cost{
    font-weight: bold;
    font-size: 1.8rem;
}
.badge-overlay{
    position: absolute;
    top:1rem;
    left: 0rem;
    background-color: var(--COLOR-PRIMARY); 
    color:var(--COLOR-WHITE);
    padding:0 2px 0 2px;
    border-radius: 0 4px 4px 0;
}
.cross-overlay{
    position: absolute;
    top:1rem;
    right:1rem;
    color:var(--COLOR-SOCIAL-ICON);
    cursor: pointer;
}
.image-with-margin img{
    width:100%;
    height:19rem;
    object-fit:contain;
    margin-top:2rem;
}
.text-overlay-card{
    opacity:0.4;
}
.overlay-text{
    position: absolute;
    top:10rem;
    left: 3rem;
    background-color: var(--COLOR-SOCIAL-ICON); 
    color:var(--COLOR-WHITE);
    padding:1rem 1rem 1rem 1rem;
    border-radius: 4px;
}
.button-disable{
    cursor:none;
}
.text-only-card{
    width:29rem;
    box-shadow: 0px 3px 10px lightgray ;
    padding-bottom: 10px;
}
.text-card-cross{
    position:absolute;
    top:1rem;
    right:1rem;
}
.text-card-heart{
    position:absolute;
    top:1rem;
    left:1rem;
}
.quote{
    padding:3rem 5px 5px 5px;
    font-style: italic;
}
.card-shadow{
    box-shadow: 0px 5px 2rem 2px var(--BOX-SHADOW);
}