<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges-UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/components.css">
</head>
<body>
    <nav class="navigation nav-container">
        <div class="nav-brand"><img src="../../Assets/Images/logo.svg" alt="logo">
             Star UI</div> 
       <ul class="list-non-bullets nav-pills">
           <li class="list-item-inline">
               <a class="link nav-bold-link" href="index.html">Home</a> 
           </li>
           <li class="list-item-inline">
               <a class="link nav-bold-link" href="#">Documentation</a> 
           </li>
            <li class="list-item-inline">
               <a class="link" href="https://github.com/srishtigautam21">
                   <i class="fa fa-github social-icons"></i></a>
            </li>
            <li class="list-item-inline" >
                <a class="link" href="https://www.linkedin.com/in/srishti-gautam-385861190/">
                    <i class="fa fa-linkedin-square social-icons"></i></a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="https://twitter.com/SrishtiGautam99">
                    <i class="fa fa-twitter social-icons"></i></a>
            </li>
        </ul>
    </nav>
    <main class="main-container">
        <div class="side-bar">
            <h2 class="sidebar-heading">Components</h2>
            <a class="sidebar-subheading" href="../../docs.html">Buttons</a>
            <a class="sidebar-subheading sidebar-link-active" href="/component/Badges/badge.html">Badges</a>
            <a class="sidebar-subheading" href="/component/Alert/alert.html">Alert</a>
            <a class="sidebar-subheading" href="/component/Avatar/avatar.html">Avatar</a>
            <a class="sidebar-subheading" href="/component/Cards/card.html">Cards</a>
            <a class="sidebar-subheading" href="#">Images</a>
            <a class="sidebar-subheading" href="#">Input</a>
        </div>
        <section class="content-container">
            <h2 class="header">Badge</h2>
                <h3>Text with Badge</h3>
                <div class="badge-wrapper">
                    <p>The text has a badge</p>
                    <div class="badge txt-badge">1</div>
                </div>
                <h3>Icon with badge</h3>
                <div class="flex-items">
                    <div class="badge-wrapper">
                        <i class="fa fa-home icon-fontsize"></i>
                        <div class="badge icon">5</div>
                    </div>
                    <div class="badge-wrapper">
                        <i class="fa fa-shopping-cart icon-fontsize"></i>
                        <div class="badge icon">4</div>
                    </div>
                    <div class="badge-wrapper">
                        <i class="fa fa-facebook-official icon-fontsize icon-color"></i>
                        <div class="badge facebook-icon">100</div>
                    </div>
                </div>
                
                <h3>Avatar with Badge</h3>
                <div class="flex-items">
                    <div class="badge-wrapper">
                        <img class="avatar-circle" src="https://picsum.photos/100" alt="avatar">
                        <div class="status-badge status-badge-online"></div>
                    </div>
                    <div class="badge-wrapper">
                        <img class="avatar-circle" src="https://picsum.photos/100" alt="avatar">
                        <div class="status-badge status-badge-offline"></div>
                    </div>
                    <div class="badge-wrapper">
                        <img class="avatar-circle" src="https://picsum.photos/100" alt="avatar">
                        <div class="status-badge status-badge-dnd"></div>
                    </div>
                </div>
        </section>
    </main>
    
</body>
</html>