<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges-UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/components.css">
</head>
<body>
    <section class="main-container">
        <h2 class="header">Badge</h2>
            <h3>Text with Badge</h3>
            <div class="badge-wrapper">
                <p>The text has a badge</p>
                <div class="badge txt-badge">1</div>
            </div>
            <h3>Icon with badge</h3>
            <div class="flex-items">
                <div class="badge-wrapper">
                    <i class="fa fa-home" style="font-size:40px"></i>
                    <div class="badge icon">5</div>
                </div>
                <div class="badge-wrapper">
                    <i class="fa fa-shopping-cart" style="font-size:40px"></i>
                    <div class="badge icon">4</div>
                </div>
                <div class="badge-wrapper">
                    <i class="fa fa-facebook-official" style="font-size:40px;color:blue"></i>
                    <div class="badge facebook-icon">100</div>
                </div>
            </div>
            
            <h3>Avatar with Badge</h3>
            <div class="flex-items">
                <div class="badge-wrapper">
                    <img class="avatar-circle" src="https://picsum.photos/100" alt="avatar">
                    <div class="status-badge status-badge-online"></div>
                </div>
                <div class="badge-wrapper">
                    <img class="avatar-circle" src="https://picsum.photos/100" alt="avatar">
                    <div class="status-badge status-badge-offline"></div>
                </div>
                <div class="badge-wrapper">
                    <img class="avatar-circle" src="https://picsum.photos/100" alt="avatar">
                    <div class="status-badge status-badge-dnd"></div>
                </div>
            </div>
    </section>
</body>
</html>