
.flex-items{
    display: flex;
}
.badge-wrapper{
    position:relative;
    margin:2rem 2rem;
} 
.badge{
    width:2rem;
    height:2rem;
    border-radius:50%;
    background-color:var(--NOTIFICATION-COLOR);
    color:var(--COLOR-WHITE);
    text-align:center;
    font-size:small;
    position:absolute;
    padding-top:3px;
}
.txt-badge{
    right:-12px;
    bottom:7px;
}
.icon{
    left:3rem; bottom:2.5rem;
}
.icon-fontsize{
    font-size:40px;
    cursor: pointer;
}
.icon-color{
    color:var(--ALERT-PRIMARY-COLOR);
}
.facebook-icon{
    padding-top: 4px;
    width:2.5rem;
    height:2.5rem;
    left:3rem; 
    bottom:2.5rem;
}
.avatar-circle{
    width:4.7rem;
    height:4.7rem;
    border-radius: 50%;
    cursor: pointer;
}
.status-badge{
    position:absolute;
    width:14px;
    height:14px;
    border-radius: 50%;
    left:3.7rem;
    bottom:5px;
    border:2px solid var(--COLOR-WHITE);
}
.status-badge-online{
    background-color: var(--ONLINE-BADGE);
}
.status-badge-offline{
    background-color: var(--OFFLINE-BADGE);
}
.status-badge-dnd{
    background-color: var(--DND-BADGE);
}