.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;
}
.row-1-col-2 {
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
.row-1-col-3 {
  grid-template-columns: repeat(auto-fit, minmax(33.3%, 1fr));
}
.col-1-color {
  background-color: var(--COLOR-SECONDARY);
}
.col-2-color {
  background-color: var(--darkerofseconadary);
}
.col-3-color {
  background-color: var(--COLOR-PRIMARY);
}
.holy-grail-layout {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    "header header"
    "aside main"
    "aside main"
    "foot foot";
}
.header {
  grid-area: header;
}
.aside {
  grid-area: aside;
}
.main {
  grid-area: main;
}
.foot {
  grid-area: foot;
}
